global {
    logging-config = ./dev-resources/logback-dev.xml
}

prosper {
    client-id = <client id>
    client-secret = <client secret>
    release-rate = 333
    base-rate = 6000
    storage-threads = 4
}

webserver {
    host = localhost
    port = 8080
}

database {
    subprotocol = postgresql
    subname = "//localhost:5432/prosper"
    user = prosper
    password = prosper
    classname = org.postgresql.Driver
}

nrepl {
    enabled = true
    type = nrepl
    port = 9090
}


web-router-service: {
    "prosper.service/hello-web-service": "/hello"
}
