global {
    logging-config = ./dev-resources/logback-dev.xml
}

prosper {
    username = <prosper username>
    password = <prosper password>
    release-rate = 333
    base-rate = 6000
}

webserver {
    host = localhost
    port = 8080
}

database {
    subprotocol = postgresql
    subname = "//localhost:5432/prosper"
    user = prosper
    password = prosper
    classname = org.postgresql.Driver
}

web-router-service: {
    "prosper.service/hello-web-service": "/hello"
}
